@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --info-1: #00a2f0;
  --info-2: #f1f1e6;
  --dark-1: #142e3b;
  --dark-2: #18323f;
  --blue-1: #568099;
  --blue-2: #324B59;
  --green-1: #9ede7e;
  --green-2: #23707d;
  --yellow-1: #f9f871;
  --yellow-2: #fff7d6;
  --orange-1: #ee982b;
  --orange-2: #763500;
  --red-1: #6f3645;
  --red-2: #887281;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4b4453;
  color: #ddd;
}

h1 {
  font-family: "Protest Guerrilla", sans-serif;
}

.container {
  width: 800px;
  height: 500px;
}

#game-canvas {
  width: 800px;
  height: 500px;
  border: 1px solid black;
  background: linear-gradient(to bottom, lightblue, darkblue);
}
